.toolbar {
    background: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .left,
    .right {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        button {
            background: none;
            color: black;
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            svg {
                width: 16px;
            }

            &:hover {
                background: #c4e3ff;
            }

            &.active {
                background: #0e8eff;
                color: #fff;
            }
        }

        .btnGuardar {
            background: #0e8eff;
            color: #fff;

            &:hover {
                background: #007ae6;
            }
        }
    }
}

@media (max-width: 640px) {
    .toolbar {
        flex-direction: column;
        align-items: stretch;
    }

    .toolbar .left,
    .toolbar .right {
        justify-content: center;
    }

    .toolbar .btnGuardar {
        margin-top: 10px;
        width: 80%;
    }
}